@page "/statistics"

<h1>Statistics</h1>

<div style="display: flex; width: 100%; justify-content: space-between;">
    <div>Name</div>
    <div>Average</div>
    <div>Best grade</div>
    <div>Number of ones</div>
</div>

@foreach (var student in Students)
{
    <div style="display: flex; width: 100%; justify-content: space-between;">
        <div>@student.Name</div>
        <div>@student.Average</div>
        <div>@student.BestGrade</div>
        <div>@student.NumberOfOneGrades</div>
    </div>
}


@code
{
    [Inject]
    private StudentService StudentService { get; set; }

    private List<Statistic> Students { get; set; } = new List<Statistic>();

    protected override async Task OnInitializedAsync()
    {
        Students = await StudentService.ListStatistics();
    }
}
