@page "/"
@using Syncfusion.Blazor.Grids

<h1>Students</h1>

<SfGrid DataSource=@Students>
    <GridColumns>
        <GridColumn Field=@nameof(Student.Name) HeaderText="Name" Width="200"></GridColumn>
        <GridColumn Field=@nameof(Student.DateOfBirth) HeaderText="Date of birth" Format="d" Type="ColumnType.Date" Width="200"></GridColumn>
        <GridColumn Field=@nameof(Student.Year) HeaderText="School year" Width="100"></GridColumn>
        <GridColumn Field=@nameof(Student.Phone) HeaderText="Phone" Width="200"></GridColumn>
    </GridColumns>
</SfGrid>


@code
{
    [Inject]
    private StudentService StudentService { get; set; }

    private List<Student> Students { get; set; } = new List<Student>();

    protected override async Task OnInitializedAsync()
    {
        Students = await StudentService.ListStudents();
    }
}
